@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background-color: rgba(0, 0, 0, 8);
    width: 100vw;
    height: 100%;
}

.main {
    width: 100vw;

}

header {
    width: 100%;
    backdrop-filter: blur(5px);
    /* background-color: #ffffff0d; */
    height: 3.5rem;
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;

}

nav {
    max-width: 950px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: .2rem;
    transform: translateX(2.5rem)
}

.nav-links>li {
    padding: 6px 8px;
}

.nav-links>li:hover {
    background-color: #ffffff0d;
    border-radius: 50px;
    padding: 6px 8px;


}

.nav-links>li>a {
    text-decoration: none;
    font-size: 14.5px;
    color: #fff;
}

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.btn-1 {
    background-color: #ffffff0d;
    backdrop-filter: blur(10px);
    color: #fff;
    outline: none;
    font-size: 12px;
    border: none;
    padding: 8px 12px;
    border-radius: 50px;

}

.btn-2 {
    outline: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 14px;
    border-radius: 50px;
    font-size: 13px;
    line-height: 1;
}

.btn-2:hover {
    opacity: 0.995;
}

.hero {
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -13rem;
    background-image: url("./assets/bg-dark.svg");
}

.hero-content {
    position: relative;
    height: 200%;
    width: 100%;
    display: flex;
    color: #fff;
    justify-content: center;
}

.badge {
    position: absolute;
    top: 6rem;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 8px;
    background-color: #ffffff26;
    padding: 4px 6px;
    border-radius: 50px;
}

.new-badge {
    background-color: #0C8C5E;
    padding: 1px 6px;
    font-size: 10px;
    border-radius: 10px;
    color: #fff;
}

.logo {
    width: 95px;
}

.badge img {
    height: 16px;
    width: 16px;
}

.text-content {
    position: absolute;
    top: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.text-content h1 {
    font-size: 3.4rem;
    text-align: center;
}

.text-content p {
    margin-top: 1.5rem;
    text-align: center;
    line-height: 1.4;

}

.input-container {
    border: 1px solid #ffffff33;
    background-color: #ffffff26;
    margin-top: 2rem;
    padding: 2px 2px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    width: 20rem;
}

.email-input {
    background-color: transparent;
    border: none;
    width: 80%;
    height: 100%;
    color: #fff;
    padding: 0 0 0 8px;
    font-size: 15px;
    outline: none
}

.input-container>button {
    display: flex;
    width: 33%;
    align-items: center;
    justify-content: center;
    padding: 8px 15px;
    border: none;
    outline: none;
    border-radius: 20px;
}

.hero-image {
    margin-top: 5rem;
    width: 90%;
    border-radius: 20px;

    box-shadow: 0px 0px 3px #ffffff26;
    mix-blend-mode: darken;
}

.overlay {
    height: 110%;
    width: 100%;
    position: absolute;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0), rgba(0, 0, 0, .8));
    z-index: 999;
}
